/* ---- PALETTE: -----
 
       gray: #999
  dark gray: #3c4350
  
*/


/*  Scroll Bars */
body ::-webkit-scrollbar:horizontal {
  display: none;
}

body ::-webkit-scrollbar {
    width: 8px;
}
 
body ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #b9b9b9;
}
 
body ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3c4350;
}

/**********************************************************************/
/*  ----- TYPOGRAPHY ------------------------------------------------ */    
/**********************************************************************/

  body {
    color: #3c4350;
    font: 300 14px 'Lato', 'sans-serif';
  }

  h1.title {
    font: 300 26px 'Lato', 'sans-serif';
    margin-left: 25px;
  }

  input {
    font-family: Lato;
    font-style: italic;
    font-weight: 100;
  }

  form input[type="text"],
  form input[type="password"] {
    color: #3c4350;
    font-size: 18px;
  }
  
  form input[type="text"].form-light,
  form input[type="password"].form-light {
    color: #AAA;
    font-size: 18px;
  }

  input[type="button"],
  form input[type="submit"] {
    font: 300 24px 'Lato', 'sans-serif';
    text-transform: uppercase;
    color: #3c4350;
  }
 
  form label {
    font: bold 16px 'Lato', 'sans-serif';
    color: #000;
  }
 
  a {
    color: #3c4350;
    font: 300 18px 'Lato', 'sans-serif';
    text-decoration: none;
  }

  a.form-button {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  a.link-small {
    font-weight: bold;
    font-size: 14px;
  }
  
  a.link-small-light {
    font-weight: normal;
    font-size: 12px;
    color: #999;
  }

  p {
    font: 500 14px 'Lato', 'sans-serif';
  }

  p.points {
    color: #FFF;
    font: 26px 'Georgia';
  }

  #toolbar a {
    font-size: 14px;
  }
  
  a.overlay-close {
    font-size: 18px;
    font-weight: bold;
  }

  #facebook-signin {
    color: #2e64b0;
    font-size: 1.8em;
  }

  /* --- profile page --- */
    div#profile-info {
      font-size: 18px;
      line-height: 36px;
    }
    
    div#profile-info .label {
      font-size: 16px;
    }
    
    div#profile-info .interests {
      font-size: 14px;
    }
    
    div#profile-menu {
      color: #999;
    }
  /* --- end profile page --- */
  
  /* --- profile form --- */
    form#user-profile-form .profile-name {
      font-size: 14px;
      color: #999;
      font-weight: bold;
    }
    
    form#user-profile-form .profile-name strong {
      font-size: 18px;
      color: #3c4350;
      padding-left: 6px;
    }
  /* --- end profile form --- */

  /* --- rewards landing --- */
    div#rewards-dashboard .title {
      font-size: 18px;
    }
    
    div#rewards-dashboard .intro {
      font-size: 16px;
      font-weight: bold;
    }
    
    div#rewards-dashboard #points-circle {
      color: #FFF;
      font: 42px 'Georgia';
      line-height: 125px;
    }
    
    div#rewards-dashboard .points {
      font-size: 20px;
      font-weight: bold;
      line-height: 140px;
    }
  /* --- end rewards landing --- */

  /* --- activity page --- */
    div.activity {
      clear: both;
      height: 150px;
      margin-top: 25px;
    }

    div.activity div.activity-date {
      background-color: #3c4350;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      float: left;
      margin-left: 20px;
      margin-right: 50px;
      text-align: center;
    }

    div.activity div.activity-date .month {
      color: #FFF;
      font: 16px 'Georgia';

    }

    div.activity div.activity-date .day {
      color: #FFF;
      font: 32px 'Georgia';
    }
    
    div.activity div.activity-details {
      float: left;
      width: 300px;
      padding-top: 20px;
    }

    div.activity div.activity-details .activity-day {
      font-size: 22px;
      font-weight: bold;
    }

    div.activity div.activity-details .activity-description {
      font-size: 18px;
    }

    div.activity div.activity-points  {
      padding-top: 20px;
    }

    div.activity div.activity-points .plus {
      font-size: 18px;
      font-weight: bold;
    }

    div.activity div.activity-points .points {
      font: 32px 'Georgia';
      font-weight: bold;
    }

    div.activity div.activity-points .myngl-points {
      font-size: 18px;
    }
  /* --- end activity page --- */
    

  /* --- rsvp page --- */
    #rsvp-confirm-wrapper div#rsvp-confirm-title {
      color: #957f57;
      font-size: 34px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    #rsvp-confirm-wrapper div#rsvp-confirm-date {
      font-size: 28px;
      font-family: Georgia;
      margin-bottom: 0;
    }
    
    #rsvp-confirm-wrapper div#rsvp-confirm-description {
      font-size: 16px; 
    }
    
    #rsvp-confirm-wrapper div#rsvp-confirm-login {
      font-size: 14px; 
      color: #957f57;
      margin-bottom: -20px;
    }
    
    #rsvp-confirm-wrapper div#rsvp-confirm-login a {
      font-size: 16px;
    }
  /* --- end rsvp page --- */
  
  /* --- rsvp confirm page --- */
    #confirm-invite-wrapper #confirm-invite-details a {
      font-size: 16px;
      margin-left: 25px;
    } 

  /* --- end rsvp iconfirm page --- */

/*  ----- END TYPOGRAPHY -------------------------------------------- */    

/**********************************************************************/
/*  ----- LAYOUT ---------------------------------------------------- */    
/**********************************************************************/

  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
  }

  h1.title {
    margin-bottom: 2px;
  }

  form {
    margin-top: 50px;
  }

  form input[type="text"],
  form input[type="password"] {
    height: 25px;
    padding-left: 5px;
    width: 365px;
  }

  input[type="button"],
  form input[type="submit"] {
    padding: 15px 35px 0 0;
    cursor: pointer;
  }

  form label {
    display: none;
    margin-bottom: 5px;
    
  }

  form .form-actions {
    margin-top: 50px;
    padding-top: 15px;
  }

  a.form-button {
    text-align: left;
    padding-right: 35px;
  }

  p.form-button-text {
    margin-bottom: 2px;
  }

  p.points {
    margin: 0px;
  }

  a.link-small-light {
    margin: 0 2px;
  }

  #page-wrapper {
    min-height: 500px;
    margin: 50px auto 0 auto;
    padding: 60px 60px 10px 60px;
    width: 730px;
  }
 
  #content-left, #content-right {
    float: left;
    padding: 15px;
    width: 350px;
  }

  #content .profile {
    margin: 0 0;
  } 

  div.border-bottom {
    padding: 20px;
  }

  div#spacer {
    height: 100px;
  }

  div#scrollable-content {
    height: 600px;
    overflow: scroll;
    margin-top: 50px;
  }

  div.overlay {
    padding: 20px;
    position:absolute;    
    top:0; 
    left:0; 
    bottom:0; 
    right:0;
    z-index:200; 
    background-color:#FFF; 
    display:none;
    margin:auto;
  }

  div#overlay-background {
    width:100%; 
    height:100%;  
    background-color:#000; 
    position:absolute; 
    top:0; 
    left:0; 
    z-index:100; 
    opacity:.7; 
    display:none;
  }

  a.overlay-close {
    float: right;
  }

  .form-item .form-item {
    margin: 0;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 30px;
  }

  /* --- user login form --- */
    form#user-login #create-account {
      float: right;
      margin-top: -45px;
    }

    form#user-login #forgot-password {
      margin-left: 30px;
    }

    form#user-login #registration-facebook {
      float: right;
      margin: -50px 25px 0 0;
      border-left: 1px solid #999999;
      height: 168px;
      padding-left: 20px;
    }

    form#user-login #facebook-signin {
      float: right;
      margin-right: 175px;
    }

    #edit-submit {
      margin-left: 30px;
    }
  /* --- end user login form --- */
  
  /* --- user password form --- */
    form#user-pass #forgot-password-cancel {
      float: right;
      margin-top: -40px;
    }

    div.password-confirm {
      width: auto;
      margin: -70px 0 0 275px;
      float: left;

    }

    div.form-item div.password-suggestions {
      width: 33em;
    }
    #edit-account.form-wrapper {
      height: 268px;
    }
  /* --- end user password form --- */
  
  /* --- user registration form --- */
    form#user-register-form .description {
      display: none;
    }

    form#user-register-form input#edit-field-first-name-und-0-value {
      float: left;
      margin-right: 5px;
      width: 195px;
    }

    form#user-register-form input[type="text"], form#user-register-form input[type="password"] {
      width: 395px;
    }
    
    form#user-register-form input#edit-field-last-name-und-0-value {
      width: 185px;
    }

    form#user-register-form input#form-item {
      width: 395px;
    }
    
    form#user-register-form #registration-facebook {
      float: right;
      margin: -50px 25px 0 0;
      border-left: 1px solid #999999;
      height: 405px;
      padding-left: 20px;

    }

    form#user-register-form .form-button-wrapper {
      float: right;
      margin-top: -77px;
    }
    
    form#user-register-form .password-strength {
      float: left;
      margin-bottom: 15px;
      margin-top: 0;
    }

    #registration-facebook p span {
      color: #2e64b0;
    }
  /* --- end user registration form --- */
  
  /* --- profile page --- */
    div#profile-points-total {
      border-radius: 35px;
      height: 70px;
      margin-bottom: 5px;
      text-align: center;
      width: 70px;
    }
  
    p.points {
      padding-top: 25%;
    }
    
    div#profile-info {
      margin-top: 20px;
    }

    div#profile-menu {
      margin-top: auto;
      margin-bottom: -15px;
    }
    
    div.border-bottom:first-child {
      padding-bottom: 10px;
    }

  /* --- end profile page --- */
  
  /* --- profile form --- */
    form#user-profile-form div.description {
      display: none;
    }

    form#user-profile-form div#edit-profile-profile-field-picture {
      height: 190px;
      width: 40%;
      float: left;
    }
    
    form#user-profile-form div.image-preview {
      float: none;
    }

    form#user-profile-form div#edit-profile-profile-field-interests {
      margin: 50px 0;
      overflow: auto;
      padding: 15px 0;
      clear: both;
    }

    form#user-profile-form div#edit-profile-profile-field-interests-und div.form-type-checkbox {
      float: left;
      width: 30%;
    }

    form#user-profile-form div.image-widget-data span.file,
    form#user-profile-form div.image-widget-data span.file-size {
      display: none;
    }
    
    form#user-profile-form div#default-image-wrapper {
      padding-right: 110px;
    }
    
    form#user-profile-form div#default-image-wrapper a {
      margin-top: 25px;
    }

    img.default-profile-pic {
      float: left;
      margin-right: 25px;
    }
    
    .page-user-edit-profile #edit-profile-profile-field-interests label {
      display: inline;
    }
  /* --- end profile form --- */
 
  /* --- account form --- */
    form#user-profile-form input#edit-field-first-name-und-0-value {
      float: left;
      margin-right: 20px;
      width: 185px;
    }
    
    form#user-profile-form input#edit-field-last-name-und-0-value {
      width: 185px;
    }
    
    form#user-profile-form .password-strength {
      float: left;
      margin-bottom: 15px;
    }

    form#user-profile-form #edit-timezone {
      display: none;
    }
    
    form#user-profile-form #edit-profile-cancel {
      float: right;
      margin-top: -40px;
    }
  /* --- end account form --- */
  
  /* --- rsvp page --- */
    #rsvp-logos #rsvp-myngl-logo,
    #rsvp-logos #rsvp-brand-logo {
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 15px;
      float: left;
      width: 420px;
      height: 160px;
      text-align: center;
      margin-top: 50px; 
    }
    
    #rsvp-logos #rsvp-myngl-logo {
      margin-right: 10px;
    }
    
    #rsvp-logos #rsvp-myngl-logo img {
      margin-top: 55px;
    }
  
    #rsvp-logos {
      width: 850px;
      margin: 0 auto -55px auto;
      overflow: auto;
    }

    #rsvp-confirm-wrapper div {
      text-align: center;
      margin-bottom: 25px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  /* --- end rsvp page --- */
  
  /* --- rsvp confirmed page --- */

    #confirm-invite-share {
      border-top: 1px solid #b9b9b9;
      border-bottom: 1px solid #b9b9b9;
    }

    #confirm-invite-invite-graphic {
      margin-right: 30px;
      margin-top: -10px;
    }

    #confirm-invite-share #facebook-share, #confirm-invite-share #twitter-share {
      font-size: 2.3em;
    }

    #confirm-invite-share #facebook-share {
      color: #2e64b0;
    }

    #confirm-invite-share #twitter-share {
      color: #56d2f1;
    }

    #confirm-invite-wrapper #confirm-invite-points-graphic {
      float: right;
    }

    #confirm-invite-wrapper #confirm-invite-invite-graphic {
      float: right;
    }

    #confirm-invite-share div p {
      margin-left: 30px;
    }
    

    #confirm-invite-wrapper .content {
      margin-bottom: 50px;
      width: 400px;
      margin-left: 30px;
    }
    
    #confirm-invite-wrapper form {
      width: 400px;
    }

    #confirm-invite-wrapper form #submit {
      float: right;
    }

    #confirm-invite-wrapper #confirm-invite-share {
      padding-top: 20px;
      padding-bottom: 20px;
      
    }

    #confirm-invite-invite form {
      margin-top: 0;
    }

    #confirm-invite-invite input[type="text"] {
      width: 385px;
    }
  /* --- end rsvp confirmed page --- */
  
  /* --- upcoming myngl overlay --- */
  
  #upcoming-myngls-landing h1.title {
    border-bottom: 1px solid #3c4350;
    margin-top: 0px;
    font-size: 22px;
  }
 
  #upcoming-myngls .upcoming-myngl-wrapper {
    float: left;
    margin: 40px 16px 0 16px;
    width: 217px;
  }
  
  #upcoming-myngls .upcoming-myngl-wrapper .title {
    font-size: 16px;
    font-weight: bold;
  }
    
  #upcoming-myngls .upcoming-myngl-wrapper .date {
    font-size: 12px;  
  }
  
  #upcoming-myngls .upcoming-myngl-border {
    border: 1px solid #EEE;
    padding: 5px;
    margin-top: 15px;
  }
  
  #upcoming-myngls .upcoming-myngl-background {
    height: 300px;
    width: 205px;
  }  
  
  #upcoming-myngls .upcoming-myngl-cover {
    background-color: rgb(60, 67, 80);
    /* RGBa with 0.6 opacity */
    background-color: rgba(60, 67, 80, 0.8);
    height: 125px;
    width: 205px;
    padding-top: 175px;       
    display: none; 
  }

  #upcoming-myngls .upcoming-myngl-background:hover .upcoming-myngl-cover {
    display: block; 
  }

  #upcoming-myngls .upcoming-myngl-link {
    margin: 5px;
    padding: 3px 3px 6px 3px;
    border: 2px solid transparent;
  }
  
  #upcoming-myngls .upcoming-myngl-link:hover {
    border: 2px solid #FFF;
  }

  #upcoming-myngls .upcoming-myngl-link a {
    color: #FFF;
    font-size: 16px;
    margin-left: 30px;
  } 

  #upcoming-myngls .upcoming-myngls-pane {
    position: absolute;
    background-color: #FFF;
    width: 600px;
    height: 530px;
    left: 85px;
    top: 20px;
    box-shadow: 5px 5px 2px #EEE;
    display: none;
  } 

  #upcoming-myngls .upcoming-myngls-pane-content {
    background-color: #3c4350;
    margin: 10px;
    height: 410px;
    color: #FFF;
  }
  
  #upcoming-myngls .upcoming-myngls-pane-content a.overlay-close {
    color: #FFF;
  }

  /* --- end upcoming myngl overlay --- */

/*  ----- END LAYOUT------------------------------------------------- */    


/**********************************************************************/
/*  ----- STYLE ----------------------------------------------------- */    
/**********************************************************************/

  html {
    background: url(../images/background.png) center center no-repeat;
    background-size: cover;
  }

  input[type="button"],
  form input[type="submit"] {
    background: transparent url(../images/arrow-button.png) right 18px  no-repeat;
    border: 0px;
    text-align: left;
  }

  form .form-actions {
    border-top: 1px solid #999;
  }

  a.form-button {
      background: transparent url(../images/arrow-button.png) right 4px no-repeat;
      border: 0px;
  }

  #page-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
  }

  #title-wrapper {
    border-bottom: 1px solid #999;
    background: url(../images/logo_small.png) right no-repeat;
  }

  #content-left {
    border-right: 1px solid #999;
    margin-bottom: 50px;
  }

  img.profile-pic,
  img.default-profile-pic {
    border: 2px solid #3c4350;
    border-radius: 50px;
  }

  div.border-bottom {
    border-bottom: 1px solid #999;
    padding: 20px;
  }

  div#footer-links {
    clear: both;
    border-top: 1px solid #999;
    padding: 10px;
  }

  /* --- profile page --- */
    img.profile-pic {
      float: left;
      margin-right: 75px;
    }

    div#profile-points {
      float: left;
    }

    div#profile-points-total {
      background-color: #3c4350
    }
  /* --- end profile page --- */

  /* --- profile form --- */
    form#user-profile-form div#edit-profile-profile-field-interests {
      border-top: 1px solid #999;
    }

    form#user-profile-form div.image-preview img {
      border: 2px solid #3c4350;
      border-radius: 50px;
    }
  /* --- end profile form --- */
  
  /* --- rewards landing --- */
    div#rewards-dashboard {
      padding-top: 25px;
    }

    div#rewards-dashboard #points-circle {
      height: 150px;
      width: 150px;
      background-color: #3c4350;
      border-radius: 75px;
      text-align: center;
      float: left;
      margin-left: 25px;
      margin-right: 15px;
    }
  /* --- end rewards landing --- */
  
  /* --- rsvp page --- */
    #rsvp-logos #rsvp-myngl-logo,
    #rsvp-logos #rsvp-brand-logo {
      background-color: rgba(255, 255, 255, 0.8);
    }
  /* --- end rsvp page --- */
  
  /* --- rsvp confirmed page --- */


    .confirm-invite-wrapper #confirm-invite-share {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;

    }

    .invite-graphic-container {
      position: relative;
      float: right;
      margin: 50px 35px;
    }

    .comfirm-invite-invite-graphic, .invite-graphic-text {
      position: absolute;
    }

    .invite-graphic-text {
      color: #ffffff;
      font-size: 17px;
      text-align: center;
      margin-top: 5%;
      margin-left: 5px;
      line-height: 30px;
    }
    .invite-graphic-text span {
      font-family: Georgia;
      font-size: 75px;
      font-weight: 100;
    }

    .invite-graphic-text span span{
      font-size: 35px;
      position: absolute;
      top: 30px;
      left: -10px;
    }

    .confirm-invite-points-graphic {
        background: #b5a065;
        width: 125px;
        height: 125px;
        position: relative;
        text-align: center;
    }
    .confirm-invite-points-graphic:before, .confirm-invite-points-graphic:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 125px;
        width: 125px;
        background: #b5a065;
    }
    #confirm-invite-points-graphic:before {
        -webkit-transform: rotate(30deg);
           -moz-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
             -o-transform: rotate(30deg);
    }
    #confirm-invite-points-graphic:after {
        -webkit-transform: rotate(60deg);
           -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
             -o-transform: rotate(60deg);
    }
    #confirm-invite-points-graphic-2 {
        -webkit-transform: rotate(15deg);
           -moz-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
             -o-transform: rotate(15deg);
    }

    #confirm-invite-points-graphic-2:before {
        -webkit-transform: rotate(30deg);
           -moz-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
             -o-transform: rotate(30deg);
    }
    #confirm-invite-points-graphic-2:after {
        -webkit-transform: rotate(60deg);
           -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
             -o-transform: rotate(60deg);
    }

  /* --- end rsvp confirmed page --- */

/*  ----- ADD THIS ------------------------------------------------- */    
/* AddThisEvent (add to your existing CSS) */
  .addthisevent-drop            {display:inline-block;position:relative;z-index:999998;font-family:'Roboto',sans-serif;color:#fff!important;text-decoration:none;font-size:15px;text-decoration:none;}
  .addthisevent-drop:hover        {color:#fff;font-size:15px;text-decoration:none;}
  .addthisevent_dropdown          {position:relative;text-align:left;display:block!important;}
  .addthisevent_dropdown span       {display:inline-block;position:relative;line-height:110%;background:#ebebeb url(../gfx/button-bg.png) repeat-x;text-decoration:none;font-size:14px;font-weight:300;color:#333;cursor:pointer;padding:7px 14px 8px 12px;border:1px solid #e1e1e1;margin:0px 6px 0px 0px;-moz-border-radius:4px;-webkit-border-radius:4px;}
  .addthisevent_dropdown span:hover     {background:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
  .addthisevent_dropdown span:active    {top:1px;}
  .addthisevent_dropdown .ateoutlook    {border-top:3px solid #fa9d00;}
  .addthisevent_dropdown .ategoogle     {border-top:3px solid #d53900;}
  .addthisevent_dropdown .atehotmail    {border-top:3px solid #1473c5;}
  .addthisevent_dropdown .ateyahoo    {border-top:3px solid #65106e;}
  .addthisevent_dropdown .ateical     {border-top:3px solid #ab373a;}
  .addthisevent span            {display:none!important;}
  .addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
  .addthisevent_dropdown .copyx       {display:none;}
  .addthisevent_dropdown .brx       {display:none;}
  .addthisevent_dropdown .frs       {position:absolute;top:8px;cursor:pointer;right:13px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:10px;color:#cacaca;}
  .addthisevent_dropdown .frs:hover     {color:#6d84b4;}
  .addthisevent               {visibility:hidden;}
/*  ----- END ADD THIS ------------------------------------------------- */    


/*  ----- END STYLE ------------------------------------------------- */    
