/* ---- PALETTE: -----

       gray: #999
  dark gray: #3c4350

*/


/*  Scroll Bars */
body ::-webkit-scrollbar:horizontal {
  display: none;
}

body ::-webkit-scrollbar {
    width: 8px;
}

body ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #b9b9b9;
}

body ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3c4350;
}

/**********************************************************************/
/*  ----- TYPOGRAPHY ------------------------------------------------ */
/**********************************************************************/

  body {
    color: #3c4350;
    font: 300 14px 'Lato', 'sans-serif';
    margin: 0;
  }

  h1.title {
    font: 300 26px 'Lato', 'sans-serif';
    margin-left: 30px;
  }

  input {
    font-family: Lato;
    font-style: italic;
    font-weight: 100;
  }

  form input[type="text"],
  form input[type="password"] {
    color: #3c4350;
    font-size: 18px;
  }

  form input[type="text"].form-light,
  form input[type="password"].form-light {
    color: #AAA;
    font-size: 18px;
  }

  input[type="button"],
  form input[type="submit"] {
    font: 300 24px 'Lato', 'sans-serif';
    text-transform: uppercase;
    color: #3c4350;
  }

  form label {
    font: bold 16px 'Lato', 'sans-serif';
    color: #000;
  }

  a {
    color: #3c4350;
    font: 300 18px 'Lato', 'sans-serif';
    text-decoration: none;
  }

  a.form-button {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  a.link-small {
    font-weight: bold;
    font-size: 14px;
  }

  a.link-small-light {
    font-weight: normal;
    font-size: 12px;
    color: #999;
  }

  p {
    font: 500 14px 'Lato', 'sans-serif';
  }

  p.points {
    color: #FFF;
    font: 26px 'Georgia';
  }

  #toolbar a {
    font-size: 14px;
  }

  a.overlay-close {
    font-size: 18px;
  }

  #facebook-signin {
    color: #2e64b0;
    font-size: 1.8em;
  }

  .fa-stack .fa-angle-right {
    top: -1px;
    left: 1px;
  }

  /* --- profile page --- */
    div#profile-info {
      font-size: 18px;
      line-height: 36px;
    }

    div#profile-info .label {
      font-size: 16px;
    }

    div#profile-info .interests {
      font-size: 14px;
    }

    div#profile-menu {
      color: #999;
    }

    .profile .fa-stack {
      top: -2px;
    }
  /* --- end profile page --- */

  /* --- profile form --- */
    form#user-profile-form .profile-name {
      font-size: 14px;
      color: #999;
      font-weight: bold;
    }

    form#user-profile-form .profile-name strong {
      font-size: 18px;
      color: #3c4350;
      padding-left: 6px;
    }
  /* --- end profile form --- */

  /* --- rewards landing --- */
    div#rewards-dashboard .title {
      font-size: 18px;
    }

    div#rewards-dashboard .intro {
      font-size: 16px;
      font-weight: bold;
    }

    div#rewards-dashboard #points-circle {
      color: #FFF;
      font: 42px 'Georgia';
      line-height: 125px;
    }

    div#rewards-dashboard .points {
      font-size: 20px;
      font-weight: bold;
      line-height: 140px;
    }
  /* --- end rewards landing --- */

  /* --- activity page --- */
    div.activity {
      clear: both;
      height: 130px;
      margin-top: 15px;
    }

    div.activity div.activity-date {
      background-color: #3c4350;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      float: left;
      margin-left: 20px;
      margin-right: 50px;
      text-align: center;
    }

    div.activity div.activity-date .month {
      color: #FFF;
      font: 16px 'Georgia';

    }

    div.activity div.activity-date .day {
      color: #FFF;
      font: 32px 'Georgia';
    }

    div.activity div.activity-details {
      float: left;
      width: 300px;
      padding-top: 20px;
    }

    div.activity div.activity-details .activity-day {
      font-size: 22px;
      font-weight: bold;
    }

    div.activity div.activity-details .activity-description {
      font-size: 18px;
    }

    div.activity div.activity-points  {
      padding-top: 20px;
    }

    div.activity div.activity-points .plus {
      font-size: 18px;
      font-weight: bold;
    }

    div.activity div.activity-points .points {
      font: 32px 'Georgia';
      font-weight: bold;
    }

    div.activity div.activity-points .myngl-points {
      font-size: 18px;
    }
  /* --- end activity page --- */


  /* --- rsvp page --- */
    #rsvp-confirm-wrapper div#rsvp-confirm-title {
      color: #957f57;
      font-size: 34px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    #rsvp-confirm-wrapper div#rsvp-confirm-date {
      font-size: 28px;
      font-family: Georgia;
      margin-bottom: 0;
    }

    #rsvp-confirm-wrapper div#rsvp-confirm-description {
      font-size: 16px;
    }

    #rsvp-confirm-wrapper div#rsvp-confirm-login {
      font-size: 14px;
      color: #957f57;
      margin-bottom: -20px;
    }

    #rsvp-confirm-wrapper div#rsvp-confirm-login a {
      font-size: 16px;
    }
  /* --- end rsvp page --- */

  /* --- rsvp confirm page --- */
    #confirm-invite-wrapper #confirm-invite-details a {
      font-size: 16px;
      margin-left: 30px;
    }

    #confirm-invite-wrapper #footer-links {
      border: none;
    }

    #confirm-invite-wrapper #footer-links a {
      font-weight: normal;
      text-decoration: underline;
      margin-left: 20px;
    }

    #confirm-invite-invite p:first-of-type {
      margin-top: .5em;
    }

  /* --- end rsvp iconfirm page --- */

  /* --- overlay date form --- */
  .form-item-date label {
    color: #FFF;
    font-size: 16px;
    line-height: 30px;
  }
  /* --- end overlay date form --- */

/*  ----- END TYPOGRAPHY -------------------------------------------- */

/**********************************************************************/
/*  ----- LAYOUT ---------------------------------------------------- */
/**********************************************************************/

  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
  }

  h1.title {
    margin-bottom: 2px;
  }

  form {
    margin-top: 50px;
  }

  form input[type="text"],
  form input[type="password"] {
    height: 25px;
    padding-left: 5px;
    width: 365px;
  }

  input[type="button"],
  form input[type="submit"] {
    padding: 15px 35px 0 0;
    cursor: pointer;
  }

  form label {
    display: none;
    margin-bottom: 5px;

  }

  form .form-actions {
    margin-top: 50px;
    padding-top: 15px;
  }

  a.form-button {
    text-align: left;
    padding-right: 35px;
  }

  p.form-button-text {
    margin-bottom: 2px;
  }

  p.points {
    margin: 0px;
  }

  a.link-small-light {
    margin: 0 2px;
  }

  #page-wrapper {
    min-height: 500px;
    margin: 50px auto 0 auto;
    padding: 60px 60px 10px 60px;
    width: 730px;
  }

  #content-left, #content-right {
    float: left;
    padding: 15px;
    width: 330px;
  }

  #content-left {
    margin-left: 10px;
    margin-right: -1px;
  }

  #content .profile {
    margin: 0 0;
  }

  div.border-bottom a {
    margin-left: 30px;
    padding-top: 5px
  }

  div#spacer {
    height: 100px;
  }

  div#scrollable-content {
    height: 450px;
    overflow: scroll;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  div.overlay {
    padding: 20px;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:200;
    background-color:#FFF;
    display:none;
    margin:auto;
  }


  div#overlay-background {
    width:100%;
    height:100%;
    background-color:#000;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    opacity:.7;
    display:none;
  }

  a.overlay-close {
    float: right;
  }

  .form-item .form-item {
    margin: 0;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 30px;
  }

  /* --- user login form --- */
    form#user-login #create-account {
      float: right;
      margin-top: -45px;
    }

    form#user-login #forgot-password {
      margin-left: 30px;
    }

    form#user-login #registration-facebook {
      float: right;
      margin: -50px 25px 0 0;
      border-left: 1px solid #999999;
      height: 248px;
      padding-left: 20px;
    }

    form#user-login #facebook-signin {
      float: right;
      margin-right: 175px;
    }

    #edit-submit {
      margin-left: 30px;
    }
  /* --- end user login form --- */

  /* --- user password form --- */
    form#user-pass #forgot-password-cancel {
      float: right;
      margin-top: -40px;
    }

    form#user-pass input#edit-name {
      margin-top: 50px;
    }

    form#user-pass div.form-item {
      border-right: 1px solid #b9b9b9;
      height: 150px;
      margin-top: -50px;
      margin-bottom: -50px;
      margin-right: 250px;
    }

    div.password-confirm {
      width: auto;
      margin: -70px 0 0 275px;
      float: left;

    }

    div.form-item div.password-suggestions {
      width: 33em;
    }
    #edit-account.form-wrapper {
      height: 268px;
    }
  /* --- end user password form --- */

  /* --- user registration form --- */
    form#user-register-form .description {
      display: none;
    }

    form#user-register-form input#edit-field-first-name-und-0-value {
      float: left;
      margin-right: 5px;
      width: 195px;
    }

    form#user-register-form input[type="text"], form#user-register-form input[type="password"] {
      width: 395px;
    }

    form#user-register-form input#edit-field-last-name-und-0-value {
      width: 185px;
    }

    form#user-register-form input#form-item {
      width: 395px;
    }

    form#user-register-form #registration-facebook {
      float: right;
      margin: -50px 25px 0 0;
      border-left: 1px solid #999999;
      height: 485px;

      padding-left: 20px;

    }

    form#user-register-form .form-button-wrapper {
      float: right;
      margin-top: -77px;
    }

    form#user-register-form .password-strength {
      float: left;
      margin-bottom: 15px;
      margin-top: 0;
    }

    #registration-facebook p span {
      color: #2e64b0;
    }
  /* --- end user registration form --- */

  /* --- profile page --- */
    div#profile-points-total {
      border-radius: 35px;
      height: 55px;
      margin-bottom: 5px;
      text-align: center;
      width: 55px;
    }

    p.points {
      padding-top: 17%;
    }

    div#profile-info {
      margin-top: 20px;
    }

    div#profile-menu {
      margin-top: auto;
      margin-bottom: -15px;
    }

    div.border-bottom:first-child {
      padding-bottom: 10px;
      padding-top: auto;
      text-align: center;
    }

    div.border-bottom:first-child a {
      margin-left: 0;
    }

  /* --- end profile page --- */

  /* --- profile form --- */
    form#user-profile-form div.description {
      display: none;
    }

    form#user-profile-form div#edit-profile-profile-field-picture {
      height: 190px;
      width: 40%;
      float: left;
    }

    form#user-profile-form div.image-preview {
      float: none;
    }

    form#user-profile-form div#edit-profile-profile-field-interests {
      margin: 50px 0;
      overflow: auto;
      padding: 15px 0;
      clear: both;
    }

    form#user-profile-form div#edit-profile-profile-field-interests-und div.form-type-checkbox {
      float: left;
      width: 30%;
    }

    form#user-profile-form div.image-widget-data span.file,
    form#user-profile-form div.image-widget-data span.file-size {
      display: none;
    }

    form#user-profile-form div#default-image-wrapper {
      padding-right: 110px;
    }

    form#user-profile-form div#default-image-wrapper a {
      margin-top: 25px;
    }

    img.default-profile-pic {
      float: left;
      margin-right: 25px;
    }

    .page-user-edit-profile #edit-profile-profile-field-interests label {
      display: inline;
    }
  /* --- end profile form --- */

  /* --- account form --- */

    form#user-profile-form span#name{
      font-weight:bold;
    }

    form#user-profile-form input#edit-field-first-name-und-0-value {
      float: left;
      margin-right: 20px;
      width: 185px;
    }

    form#user-profile-form input#edit-field-last-name-und-0-value {
      width: 185px;
    }

    form#user-profile-form .password-strength {
      float: left;
      margin-bottom: 15px;
      display:none;
    }

    form#user-profile-form #edit-timezone {
      display: none;
    }

    form#user-profile-form #edit-profile-cancel {
      float: left;
      margin-top: -15px;
      text-decoration:underline;
    }

    form#user-profile-form #edit-submit{
      float:right;
      margin-top: -20px;
    }
    /*form#user-profile-form #edit-current-pass,*/
    form#user-profile-form #field-last-name-add-more-wrapper,
    form#user-profile-form #edit-field-first-name-und-0-value{
      display:none;
    }

    body.page-user-edit-profile form#user-profile-form #edit-name,
    body.page-user-edit-profile form#user-profile-form #edit-pass-pass1,
    body.page-user-edit-profile form#user-profile-form #edit-pass-pass2
    {
      display: none  ;
    }
  /* --- end account form --- */

  /* --- rsvp page --- */
    #rsvp-logos #rsvp-myngl-logo,
    #rsvp-logos #rsvp-brand-logo {
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 15px;
      float: left;
      width: 420px;
      height: 160px;
      text-align: center;
      margin-top: 50px;
    }

    #rsvp-logos #rsvp-myngl-logo {
      margin-right: 10px;
    }

    #rsvp-logos #rsvp-myngl-logo img {
      margin-top: 55px;
    }

    #rsvp-logos {
      width: 850px;
      margin: 0 auto -55px auto;
      overflow: auto;
    }

    #rsvp-confirm-wrapper div {
      text-align: center;
      margin-bottom: 25px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  /* --- end rsvp page --- */

  /* --- rsvp confirmed page --- */

    #confirm-invite-share {
      border-top: 1px solid #b9b9b9;
      border-bottom: 1px solid #b9b9b9;
    }

    #confirm-invite-invite-graphic {
      margin-right: 30px;
      margin-top: -20px;
    }

    #confirm-invite-share #facebook-share, #confirm-invite-share #twitter-share {
      font-size: 2.3em;
    }

    #confirm-invite-share #facebook-share {
      color: #2e64b0;
    }

    #confirm-invite-share #twitter-share {
      color: #56d2f1;
    }

    #confirm-invite-wrapper #confirm-invite-points-graphic {
      float: right;
    }

    #confirm-invite-wrapper #confirm-invite-invite-graphic {
      float: right;
    }

    #confirm-invite-share div p {
      margin-left: 30px;
    }


    #confirm-invite-wrapper .content {
      width: 400px;
      margin-left: 30px;
    }

    #confirm-invite-wrapper form {
      width: 400px;
    }

    #confirm-invite-wrapper form #submit {
      float: right;
    }

    #confirm-invite-wrapper #confirm-invite-share {
      padding-top: 20px;
      padding-bottom: 20px;

    }

    #confirm-invite-invite form {
      margin-top: 0;
    }

    #confirm-invite-invite input[type="text"] {
      width: 385px;
    }

    #confirm-invite-details .content {
      margin-bottom: 30px;
    }
  /* --- end rsvp confirmed page --- */

  /* --- upcoming myngl overlay --- */

  #upcoming-myngls-landing h1.title {
    border-bottom: 1px solid #3c4350;
    margin-top: 0px;
    font-size: 22px;
  }

  #upcoming-myngls .upcoming-myngl-wrapper {
    float: left;
    margin: 40px 16px 0 16px;
    width: 217px;
  }

  #upcoming-myngls.overlay {
    border: 5px double rgba(60,67,80,0.85);
    outline: 10px solid #ffffff;
  }

  #upcoming-myngls .upcoming-myngl-wrapper .title {
    font-size: 16px;
    font-weight: bold;
  }

  #upcoming-myngls .upcoming-myngl-wrapper .date {
    font-size: 12px;
  }

  #upcoming-myngls .upcoming-myngl-border {
    border: 1px solid #EEE;
    padding: 5px;
    margin-top: 15px;
  }

  #upcoming-myngls .upcoming-myngl-background {
    height: 300px;
    width: 205px;
  }

  #upcoming-myngls .upcoming-myngl-cover {
    background-color: rgb(60, 67, 80);
    /* RGBa with 0.6 opacity */
    background-color: rgba(60, 67, 80, 0.8);
    height: 125px;
    width: 205px;
    padding-top: 175px;
    display: none;
  }

  #upcoming-myngls .upcoming-myngl-background:hover .upcoming-myngl-cover {
    display: block;
  }

  #upcoming-myngls .upcoming-myngl-link {
    margin: 5px;
    padding: 3px 3px 6px 3px;
    border: 2px solid transparent;
  }

  #upcoming-myngls .upcoming-myngl-link:hover {
    border: 2px solid #FFF;
  }

  #upcoming-myngls .upcoming-myngl-link a {
    color: #FFF;
    font-size: 16px;
    margin-left: 5px;
  }

  #upcoming-myngls .upcoming-myngls-pane {
    position: absolute;
    background-color: #FFF;
    width: 750px;
    height: 600px;
    left: 20px;
    top: 10px;
    box-shadow: 5px 5px 2px #EEE;
    display: none;
    border: 1px solid #999999;
  }

  #upcoming-myngls .upcoming-myngls-pane-content {
    background-color: #3c4350;
    margin: 10px;
    height: 500px;
    color: #FFF;
    padding: 5px;
  }

  #upcoming-myngls .upcoming-pane-details {
    padding: 35px;
  }

  #upcoming-myngls .upcoming-myngls-pane form {
    margin-top: auto;
  }



  #upcoming-myngls .upcoming-myngls-pane-content a.overlay-close {
    color: #FFF;
    font-size: 18px;
    margin-right: 2px;
  }

  #upcoming-myngls .upcoming-myngls-pane-content img {
    float: left;
    height: 155px;
    width: 100px;
    margin-top: 20px;
    margin-right: 15px;
  }

  #upcoming-myngls .upcoming-myngls-pane a {
    color: #999999;
    font-size: 15px;
  }

  .upcoming-myngls-pane-content ::-webkit-scrollbar-thumb {
    background-color: #ffffff
  }

  .upcoming-myngls-pane-content .date {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .upcoming-myngls-pane-content .title {
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .upcoming-myngls-pane-content .info-header {
    color: #999999;
    font-weight: bold;
  }

  .upcoming-myngls-pane-info {
    max-height: 225px;
    overflow: hidden;
  }

  .upcoming-myngls-pane-footer-left, .upcoming-myngls-pane-footer-right {
    float:left;
    width: 50%;
    text-align: right;
  }

  .upcoming-myngls-pane-footer-left {
    text-align: left;
    margin-right: -30px;
    margin-left: 20px;
    text-decoration: underline;
    padding-top: 25px;
  }

  .upcoming-myngls-pane-content .addthisevent_dropdown span,
  .upcoming-myngls-pane-content .video-upload input[type="submit"] {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
  }

  .upcoming-myngls-pane-content hr {
    border: 1px solid #999999;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .upcoming-myngls-pane-content.upload-pane .upcoming-pane-details a:not(.upload-add),
  .upcoming-myngls-pane-content.upload-pane .upcoming-pane-details strong {
    margin-right: 60px;
  }

  .upcoming-myngls-pane-content.upload-pane a:not(.upload-add) i,
  .upcoming-myngls-pane-content.upload-pane .upcoming-pane-details strong i{
    font-size: 3em;
    margin-left: 5px;
    vertical-align: middle;
  }

  .upcoming-myngls-pane-content hr {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top-color: #999999;
  }

  .upcoming-myngls-pane-content .video-upload input[type="submit"] {
    height: 31px;
    vertical-align: top;
    padding: 0 10px 0 10px;
    font-size: 1em;
  }

   .upcoming-myngls-pane-content .video-upload input[type="submit"]:hover {
    background-color: #ffffff;
    color: #3c4350;
  }

  .upcoming-pane-details input[type="submit"] {
    border: 1px solid #ffffff;
    color: #ffffff;
    float: right;
    background-image: none;
    padding: 5px;
    margin-top: -45px;

  }

  .upcoming-pane-details input[type="submit"]:hover {
    color: #3c4350;
    background: #ffffff;
  }

  a.upload-add {
    margin-left: 30px;
  }

  /* --- end upcoming myngl overlay --- */

  /* --- pre and post questions --- */

  #myngl-questions-logos {
    text-align: center;
  }

  #myngl-questions-title {
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 2px solid #a9a9a9;
    margin-bottom: 25px;
    text-align: center;
  }

  #myngl-questions-form span {
    font-size: 1em;
    font-weight: bold;
    margin-left: 30px;
  }

  #myngl-myngl-post-questions-form label,
  #myngl-myngl-pre-questions-form label {
    display: block;
  }

  #myngl-myngl-post-questions-form, #myngl-myngl-pre-questions-form {
    margin-top: 0
  }

  #myngl-myngl-post-questions-form .form-item, #myngl-myngl-pre-questions-form .form-item {
    margin-bottom: 15px;
  }

  #myngl-myngl-post-questions-form label.option,
  #myngl-myngl-pre-questions-form label.option {
    display: inline;
  }
 .form-radios .form-item {
    display: inline;
    float: left;
    width: 220px;
  }
 
  #myngl-myngl-post-questions-form .form-radios .form-item {
    display: inline;
    float: left;
    width: 50px;
  }

  #myngl-myngl-post-questions-form > div > .form-item,
  #myngl-myngl-pre-questions-form > div > .form-item {
    clear: both;
    margin-bottom: 40px;
  }
 
  #myngl-myngl-pre-questions-form #edit-question-3,
  #myngl-myngl-pre-questions-form #edit-question-4 {
    width: 640px;
  }
  
  #myngl-myngl-post-questions-form #edit-question-1,
  #myngl-myngl-post-questions-form #edit-question-2,
  #myngl-myngl-post-questions-form #edit-question-3 {
    width: 640px;
  }
 

  label[for="edit-tagline"] {
    display: inline !important;
    margin-right: 10px;
  }

  #myngl-questions-below-form {
    text-decoration: underline;
    float: right;
    margin-right: 30px;
    margin-top: -40px;
  }
  /* --- end of pre and post questions --- */

  /* --- event shared classes --- */

  .event-logo {
    width: 100px;
    height: 80px;
    display: inline;
  }

  .event-logo img {
    float:left;
    margin: 0 0 100px 40px;
  }

  #myngl-event-menu {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
  }

  #myngl-event-menu-center {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #myngl-event-menu ul {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    min-width: 1080px;
  }

  #myngl-event-menu ul li {
    float: left;
    text-align: center;
    display: inline-block;
  }

  #myngl-event-menu ul li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Georgia;
    /*text-transform: uppercase;*/
    background-image: linear-gradient(rgba(42, 28, 24, 0.1), rgba(42, 28, 24, 0.3));
  }


  #myngl-event-message {
    float:left;
    width: auto;
    font-weight:bold;
    height:0px;
    background-color: rgba(200,200,150,0.9);
  }


  #myngl-event-message span {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    top: 25px;
  }

  /* --- lobby event --- */

  #page-myngl-event-wrapper .video-container div {
    text-align: center;
    background-color: rgba(226,226,216,0.4);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    padding: 25px;
    max-width: 650px;
    margin: auto;
    position: relative;
    top: 21.25vh;
  }

  /* --- Social Area --- */


  .myngl-event-profile-pic {
    border-radius: 100%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .myngl-event-profile-pic.chat {
    height: 50px;
    width: 50px;
    margin: 10px 10px -20px 10px;
   }

  .myngl-event-profile-pic.solo-chat,
  .myngl-event-profile-pic.group-chat{
    height: 30px;
    width: 30px;
    margin: 10px 5px -10px 10px;
   }

  .myngl-event-profile-pic.minimized{
    height:60px;
    width:60px;
    margin:3px;
  }

  .solo-message {
    margin-bottom: 15px;
  }

  .social-bg,
  .activity-room-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -999;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .point-badge {
    width: 66px;
    height: 66px;
    border-radius: 100%;
    float: left;
    margin: 10px;
  }

  .point-badge p {
    text-align:center;
    font-size: 1.5em;
    font-family: Georgia;
    /*margin-top: 12px;
    margin-left: 16px;*/
  }

  div#myngl-event-chat-button-invitees {
    position: fixed;
    bottom: 40px;
    min-width: 1080px;
    width: 100%;
  }

  div#invitees-thumbs {
    border: none;
    background: transparent;
  }

  div#myngl-event-chat-button-invitees .thumb-background {
    content: '';
    background: #e2dbd2;
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    z-index: -999;

  }

  #invitee-filters {
    font-family: Georgia;
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 10px;
    height: 40px;
  }

  #invitee-filters form {
    display: inline;
    font-family: 'Lato';
    margin-left: 25px;
    font-size: 16.5px;
  }

  #invitee-filters form input[type="text"] {
    width: 150px;
  }

  #invitee-filters form input[type="radio"] {
    margin-right: 5px;
    margin-left: 15px
  }


  #myngl-event-chat-button {
    padding-top: 15px;
    padding-right: 30px;
  }

  #myngl-event-chat-button a {
    border-radius: 100%;
    font-weight: bold;
    float: right;
    padding: 15px;
  }


  #myngl-event-ugc-box {
    overflow: hidden;
  }

  #myngl-event-ugc-box-inside {
    overflow: hidden;
  }

  #myngl-event-ugc-box-slider {
    margin-left: -200px;
  }

  .myngl-event-ugc-content {
    text-align: center;
  }

  /* --- social overlays --- */

  .overlay.branded .overlay-close,
  .branded.ui-draggable .overlay-close {
    color: inherit;
  }

  #myngl-event-pov.overlay {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 1px 1px 3px #333333;
  }

  #myngl-event-pov #myngl-event-pov-question {
    margin-top: 30px;
    margin-bottom: 12px;
    padding: 15px;
    box-shadow: inset 1px -1px 2px #b9b9b9;
    text-align: center;
  }

  #myngl-event-pov hr {
    border: none;
    border-top: 1px groove #b9b9b9;
    margin-left: -12px;
    margin-right: -12px;
  }

  #myngl-event-pov #myngl-event-pov-wall {
    margin-top: 12px;
    overflow: scroll;
    height: 275px;
    box-shadow: inset 1px -1px 2px #b9b9b9;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
  }

  #myngl-event-pov .pov-message {
    margin-bottom: 20px;
  }

  #myngl-event-pov #myngl-event-pov-messages form {
    margin-top: 5px;
  }

  #myngl-event-pov #myngl-event-pov-messages form input[type="submit"],
  .myngl-chat-form form input[type="submit"] {
    float: right;
    margin-right: 5px;
    background-image: none;
    font-family: Georgia;
    font-size: 1.35em;
    color: inherit;
    padding: 5px;
  }


  div.myngl-chat {
    padding: 15px;
    box-shadow: 1px 1px 3px #b9b9b9;
  }

  form#social-area-chat-list .checkbox.selected{
    background-color:#CCC;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
  }

  .myngl-event-solo-chat-intro {
    height: 35px;
    font-size: 1.2em;
  }

  .myngl-chat-form form input[type="submit"] {
    margin-right: 0;
    font-size: 1.3em;
  }

  #myngl-event-pov form input[type="text"]  {
    box-shadow: inset 1px -1px 2px #b9b9b9;
    width:394px !important;
    height: 50px;
    border:none;
  }

  .myngl-chat-form form input[type="text"] {
    height: 50px;
    border:none;
    box-shadow: inset 1px -1px 2px #b9b9b9;
    width: 317px !important;
    margin-left: 1px;
  }

  .myngl-chat-messages {
    box-shadow: inset 1px -1px 2px #b9b9b9;
  }

  .myngl-chat-circles {
    float:left;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: 10px;

  }

  .myngl-chat-circles a {
    padding: 0 !important;
  }

  .myngl-chat-circles img {
    max-height: 100%;
    max-width: 100%;
  }


  #myngl-event-pov ::-webkit-scrollbar-thumb {
    background-color: #999999;
  }

  #myngl-event-pov ::-webkit-scrollbar-track {
    background-color: transparent;
  }



  #myngl-event-ugc {
    padding: 30px 25px 30px 25px;
    box-shadow: 2px 2px 3px #333333
  }

  #myngl-event-ugc .overlay-close {
    margin-top: -25px;
    margin-left: -20px
  }

  #myngl-event-ugc-box {
    padding: 35px;
    height: 465px;
    box-shadow: 1px 1px 0 #b9b9b9;
  }

  #myngl-event-ugc-thumbs {
    width: auto;
    height: 470px;
  }

  .halfCircleRight{
     border-radius: 0 70px 70px 0;
     -moz-border-radius: 0 70px 70px 0;
     -webkit-border-radius:  0 70px 70px 0;
     bottom: 285px;
     left: -15px;
   }

   .halfCircleRight, .halfCircleLeft {
    height:70px;
    width:35px;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
   }

   .halfCircleRight i, .halfCircleLeft i {
    font-size: 3em;
    margin: 13px;
   }

   .halfCircleRight i {
    margin-left: 9px;
   }

   .halfCircleLeft{
     border-radius: 70px 0 0 70px;
     -moz-border-radius: 70px 0 0 70px;
     -webkit-border-radius: 70px 0 0 70px;
     bottom: 350px;
     left: 880px;
  }


  /* Theater Page */















.isotope {
  background: #DDD;
  max-width: 1200px;
  max-height: 500px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.item {
  float: left;
  height: 140px;
  width: 140;
  margin: 5px;
}

.width2 {
  width: 240px;
}


/* -- quick fixes */

#myngl-event-ugc-button {
  width: 15%;
  height: 13%;
  position: absolute;
  top: 30%;
  left: 45%;
  /*margin-top: -250px;
  margin-left: -550px;*/
  cursor: pointer;
}

#myngl-event-pov-button {
  width: 15%;
  height: 13%;
  position: absolute;
  left: 60%;
  top: 30%;/*
  margin-top: -200px;
  margin-left: -300px;*/
  cursor: pointer;
}


/* Moved here by Ming
#myngl-event-ugc-button, #myngl-event-pov-button {
    float: left;
  }

  #myngl-event-ugc-button {
    margin-left: 35%;
  }
*/

  #myngl-event-ugc-button a, #myngl-event-pov-button a{
    padding: 20px 13px 20px 13px;
    background: rgba(226,226,216,0.4);
    border-radius: 100%;
    margin: 28px;
  }


/*  ----- END LAYOUT------------------------------------------------- */


/**********************************************************************/
/*  ----- STYLE ----------------------------------------------------- */
/**********************************************************************/

  body {
    background: url(../images/background.png) center center no-repeat;
    background-size: cover;
  }

  body.page-myngl-event {
    /*background: url(../images/myngl-godiva-bg.png) center center no-repeat;*/
    background: url(../images/myngl-godiva-bg.jpg) center center no-repeat;
    background-size: cover;
  }
  
  body.page-myngl-event-exit {
    background: url(../images/background.png) center center no-repeat;
    background-size: cover;
  }


  input[type="button"],
  form input[type="submit"] {
    background: transparent url(../images/arrow-button.png) right 18px  no-repeat;
    border: 0px;
    text-align: left;
  }

  form .form-actions {
    border-top: 1px solid #999;
  }

  a.form-button {
      background: transparent url(../images/arrow-button.png) right 4px no-repeat;
      border: 0px;
  }

  #page-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
  }

  #title-wrapper {
    border-bottom: 1px solid #999;
    background: url(../images/logo_small.png) right no-repeat;
  }

  #content-left {
    border-right: 1px solid #999;
    margin-bottom: 30px;
  }

  img.profile-pic,
  img.default-profile-pic {
    border: 2px solid;
    border-radius: 50px;
  }

  div.border-bottom {
    border-bottom: 1px solid #999;
    margin-left: -30px;
    margin-top : 6px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  div#footer-links {
    clear: both;
    border-top: 1px solid #999;
    padding: 10px;
  }

  /* --- profile page --- */
    img.profile-pic {
      float: left;
      margin-right: 30px;
      height: 95px;
      width: 95px;
    }

    div#profile-points {
      float: left;
    }

    div#profile-points-total {
      background-color: #3c4350
    }

    #profile-menu .border-bottom img {
      float: right;
      margin-right: 10px;
      margin-top: -2px;
    }
  /* --- end profile page --- */

  /* --- profile form --- */
    form#user-profile-form div#edit-profile-profile-field-interests {
      border-top: 1px solid #999;
    }

    form#user-profile-form div.image-preview img {
      border: 2px solid #3c4350;
      border-radius: 50px;
    }
  /* --- end profile form --- */

  /* --- rewards landing --- */
    div#rewards-dashboard {
      padding-top: 25px;
    }

    div#rewards-dashboard #points-circle {
      height: 140px;
      width: 140px;
      background-color: #3c4350;
      border-radius: 75px;
      text-align: center;
      float: left;
      margin-left: 25px;
      margin-right: 15px;
    }

    .profile #footer-links a {
      font-weight: normal;
      text-decoration: underline;
      margin-right: 30px;
    }
  /* --- end rewards landing --- */

  /* --- rsvp page --- */
    #rsvp-logos #rsvp-myngl-logo,
    #rsvp-logos #rsvp-brand-logo {
      background-color: rgba(255, 255, 255, 0.8);
    }
  /* --- end rsvp page --- */

  /* --- rsvp confirmed page --- */


    .confirm-invite-wrapper #confirm-invite-share {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;

    }

    .invite-graphic-container {
      position: relative;
      float: right;
      margin: 50px 35px;
    }

    .comfirm-invite-invite-graphic, .invite-graphic-text {
      position: absolute;
    }

    .invite-graphic-text {
      color: #ffffff;
      font-size: 17px;
      text-align: center;
      margin-top: 5%;
      margin-left: 5px;
      line-height: 30px;
    }
    .invite-graphic-text span {
      font-family: Georgia;
      font-size: 75px;
      font-weight: 100;
    }

    .invite-graphic-text span span{
      font-size: 35px;
      position: absolute;
      top: 30px;
      left: -10px;
    }

    .confirm-invite-points-graphic {
        background: #b5a065;
        width: 125px;
        height: 125px;
        position: relative;
        text-align: center;
    }
    .confirm-invite-points-graphic:before, .confirm-invite-points-graphic:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 125px;
        width: 125px;
        background: #b5a065;
    }
    #confirm-invite-points-graphic:before {
        -webkit-transform: rotate(30deg);
           -moz-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
             -o-transform: rotate(30deg);
    }
    #confirm-invite-points-graphic:after {
        -webkit-transform: rotate(60deg);
           -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
             -o-transform: rotate(60deg);
    }
    #confirm-invite-points-graphic-2 {
        -webkit-transform: rotate(15deg);
           -moz-transform: rotate(15deg);
            -ms-transform: rotate(15deg);
             -o-transform: rotate(15deg);
    }

    #confirm-invite-points-graphic-2:before {
        -webkit-transform: rotate(30deg);
           -moz-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
             -o-transform: rotate(30deg);
    }
    #confirm-invite-points-graphic-2:after {
        -webkit-transform: rotate(60deg);
           -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
             -o-transform: rotate(60deg);
    }

  /* --- end rsvp confirmed page --- */

/*  ----- ADD THIS ------------------------------------------------- */
/* AddThisEvent (add to your existing CSS) */
  .addthisevent-drop            {display:inline-block;position:relative;z-index:999998;font-family:'Roboto',sans-serif;color:#fff!important;text-decoration:none;font-size:15px;text-decoration:none;}
  .addthisevent-drop:hover        {color:#fff;font-size:15px;text-decoration:none;}
  .addthisevent_dropdown          {position:relative;text-align:left;display:block!important;}
  .addthisevent_dropdown span       {display:inline-block;position:relative;line-height:110%;background:#ebebeb url(../gfx/button-bg.png) repeat-x;text-decoration:none;font-size:14px;font-weight:300;color:#333;cursor:pointer;padding:7px 14px 8px 12px;border:1px solid #e1e1e1;margin:0px 6px 0px 0px;-moz-border-radius:4px;-webkit-border-radius:4px;}
  .addthisevent_dropdown span:hover     {background:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
  .addthisevent_dropdown span:active    {top:1px;}
  .addthisevent_dropdown .ateoutlook    {border-top:3px solid #fa9d00;}
  .addthisevent_dropdown .ategoogle     {border-top:3px solid #d53900;}
  .addthisevent_dropdown .atehotmail    {border-top:3px solid #1473c5;}
  .addthisevent_dropdown .ateyahoo    {border-top:3px solid #65106e;}
  .addthisevent_dropdown .ateical     {border-top:3px solid #ab373a;}
  .addthisevent span            {display:none!important;}
  .addthisevent-drop ._url,.addthisevent-drop ._start,.addthisevent-drop ._end,.addthisevent-drop ._summary,.addthisevent-drop ._description,.addthisevent-drop ._location,.addthisevent-drop ._organizer,.addthisevent-drop ._organizer_email,.addthisevent-drop ._facebook_event,.addthisevent-drop ._all_day_event {display:none!important;}
  .addthisevent_dropdown .copyx       {display:none;}
  .addthisevent_dropdown .brx       {display:none;}
  .addthisevent_dropdown .frs       {position:absolute;top:8px;cursor:pointer;right:13px;padding-left:10px;font-style:normal;font-weight:normal;text-align:right;z-index:101;line-height:110%;background:#fff;text-decoration:none;font-size:10px;color:#cacaca;}
  .addthisevent_dropdown .frs:hover     {color:#6d84b4;}
  .addthisevent               {visibility:hidden;}
/*  ----- END ADD THIS ------------------------------------------------- */


/* --- sort these out --- */


form#user-profile-form .field-name-field-profile-gender{
  display:none;
}

form#user-profile-form .field-name-field-relationship{
  display:none;
}

form#user-profile-form .profile-flipswitch{
  position:relative;
  height:20px;
  margin-left:293px;
  margin-top:20px;
  font-weight:bold;
}

form#user-profile-form .switch{
  position:absolute;
  left:160px;
  top: -2px;
  width:60px;
  height:20px;
  background-color:#bbbbbb;
  overflow:hidden;
  border-radius: 20px;
  border:1px solid #555555;
}

form#user-profile-form .switch-inner{
  position:relative;
  width:80px;
  height:20px;
  background-color:#748aaa;
}

form#user-profile-form .switch-knob{
  width:18px;
  height:18px;
  background-color:#ffffff;
  border-radius: 18px;
  border:1px solid #555555;
  position:relative;
  left:-10px;
}


.event-detail-overlay{
  z-index:300;
  position:absolute;
  top:100px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  width:700px;
  background-color:#ffffff;
  padding:10px;
  font-size:16px;
  display:none;
}



#myngl-event-chat-button .minimized-solo-chat{
  float:right;
}

#myngl-event-chat-button #minimized-chats{
  float:right;
}


#invitee-chat-selector {
  border: 15px  solid #53302a;
  background-color: #e2dbd2;
  float: right;
  clear: right;
  margin-right: 50px;
  margin-top: 30px;
  display: none;
}

#invitee-chat-selector a {
  color: #666;
  padding-left: 20px;
  display: block;
  width: 220px;
  height: 75px;
}

#invitee-chat-selector a:hover {
  background-color: #cecac2;
}

#invitee-chat-selector img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: -15px;
  margin-top: 0px;
  /*margin-top:20px;*/
}

#invitee-chat-selector-search {
  color: #666;
  border: 2px solid #b9b9b9;
  padding: 5px;
  font-size: 18px;
  margin: 20px;
}

#invitee-chat-selector input:focus{
  outline:0;
}

#help-overlay{
  display:none;
  position: absolute;
  top:200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
}


.invitee-thumb{
  display:none;
}
.invitee-thumb.in-lounge{
  display:block;
}
.invitee-thumb.in-lounge.filter-hide{
  display:none !important;
}
/*  ----- END STYLE ------------------------------------------------- */

/*  ----- INVITEE CONFIRM FORM -------------------------------------- */

form#myngl-myngl-confirm-add-invitee {
  margin-top: 50px;
}

form#myngl-myngl-confirm-add-invitee #edit-submit  {
  margin-left: 215px; 
}

form#myngl-myngl-confirm-add-invitee .form-item {
  margin-left: 0px;
}

form#myngl-myngl-confirm-add-invitee #edit-first-name,
form#myngl-myngl-confirm-add-invitee #edit-last-name {
  width: 183px;
}

form#myngl-myngl-confirm-add-invitee .form-item-first-name,
form#myngl-myngl-confirm-add-invitee .form-item-last-name {
  float: left;
}

form#myngl-myngl-confirm-add-invitee .form-item-last-name {
  margin-left: 10px;
}

/*  ----- END INVITEE CONFIRM FORM ---------------------------------- */

/*  ----- Exit Page ---------------------------------- */

div#exit-div {
  background-color: #FFF;
  left: 50%;
  margin-left: -300px;
  top: 150px;
  width: 600px;
  position: absolute;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
 
div#exit-div .exit-thank-you {
  font-size: 22px;
}
 
div#exit-div #exit-dashboard-link {
  width: 224px;
  margin-left: auto;
  margin-right: auto;
  line-height: 28px;
} 

div#exit-div #exit-dashboard-link .exit-circle {
  background-color: #3c4350;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  float: right;
}

div#exit-div #exit-dashboard-link a {
  color: #FFF;
} 
 
div#exit-div #exit-points {
  background-color: #3c4350;
  height: 200px;
  width: 200px;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: bold;
  
}

div#exit-div #exit-points #exit-points-circle {
  background-color: #FFF;
  color: #3c4350;
  height: 100px;
  width: 125px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-top: 25px;
}

div#exit-div #exit-points #exit-points-circle .exit-points-points {
  font-family: georgia;
  font-size: 46px;
  line-height: 60px;
}
 
/*  ----- End Exit Page ---------------------------------- */
